<section id="openvk-avedit">
    <p><strong>Выберите миниатюру</strong><br/><em>Она будет использоваться в комментариях и постах</em></p>
    <input type="hidden" name="crop_x" />
    <input type="hidden" name="crop_y" />
    <input type="hidden" name="crop_w" />
    <input type="hidden" name="crop_h" />
    <img id="openvk-avatar-editScope" src="" style="max-width:100%;" />
</section>
