{layout 'menu.latte'}

{block main}
    <section id="content">
        {block content}{/block}
    </section>
    <section id="right">
        {block rightmenu}{/block}
    </section>
{/block}