{layout 'menu.latte'}

{block main}
    <section id="content" class="flex-row-rv">
        <section class="col-3">
            {block first-col}{/block}
        </section>
        <section class="col-7">
            {block second-col}{/block}
        </section>
    </section>
{/block}